<link rel="stylesheet" href="/css/home.css"> 
<section id="feed-posts">
   
    
    <% if(locals.user){ %>
        <div id="main">
            <div id="left">
                <h1>Your feed</h1>
                <ul>
                    <%- include('_post'); %>  
                </ul>
            </div>
            <div id="right">
                <div id="createPost">
                    <h4>Create New Post</h4>
                        <form id="new-post-form" method="POST" enctype="multipart/form-data">
                            <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
                            <br>
                            <br>
                            <input type="file" name='postImg'>
                            <br>
                            <br>
                            <button type="submit">Create</button>
                        </form>
                </div>
                <%- include('_user'); %>  
            </div>
        </div>
        
    <% } %>
</section>
<script src="/js/home_post.js"></script>

