header{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    width: 100%;
    height: 5vh;
    position: fixed;
    top: 0px;
    &>ul{
        li{
            list-style: none;
            display: inline;
            margin: auto 10px;
        }
    }
    &>#website-name{
        a{
            text-decoration: none;
                color: black;
        }
    }
}

header{
    h2{
        margin: auto 20px;
    }
}
